header {
  position: relative;
  background-color: #262626;
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
}

.header2{
  position: relative;
  background-color: #262626;
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background: url("../images/bg.jpg")
}